.photo-grid {
  width: calc(100% - 48px*2);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(calc((100% - 48px)/4), 284px));
}

@media (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(calc((100% - 28px)/3), 300px));
    gap: 14px;
  }
}

@media (max-width: 1000px) {
  .photo-grid {
    width: calc(100% - 24px*2);
    grid-template-columns: repeat(2, minmax(calc((100% - 16px)/2), 352px));
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    width: calc(100% - 16px*2);
    grid-template-columns: repeat(1, minmax(100%, 288px));
    gap: 12px;
  }
}
