.places {
  width: calc(100% - 148px*2);
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .places {
    width: calc(100% - 48px*2);
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .places {
    width: calc(100% - 24px*2);
  }
}

@media (max-width: 425px) {
  .places {
    width: 100%;
  }
}
