.places {
  width: calc(100% - 148px*2);
  color: #fff;
}

@media (max-width: 1200px) {
  .places {
    width: calc(100% - 48px*2);
  }
}

@media (max-width: 1000px) {
  .places {
    width: calc(100% - 24px*2);
  }
}

@media (max-width: 425px) {
  .places {
    width: 100%;
  }
}
