.header {
  width: calc(100% - 48px*2);
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    width: calc(100% - 48px*2);
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media (max-width: 320px) {
  .header {
    width: calc(100% - 16px*2);
  }
}
