.header {
  width: 92.5%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    width: 90.625%;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}

@media (max-width: 320px) {
  .header {
    width: 90%;
  }
}
