.page__intro {
  margin: 92px 0 0 148px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__intro {
    margin-left: 48px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .page__intro {
    margin: 88px 0 0 24px;
  }
}

@media (max-width: 425px) {
  .page__intro {
    margin: 64px 0 0 16px;
  }
}
