.page__intro {
  margin: 92px 0 0 148px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .page__intro {
    margin-left: 48px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .page__intro {
    margin: 88px auto 0;
  }
}

@media (max-width: 320px) {
  .page__intro {
    margin: 64px auto 0;
  }
}
