.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  margin-right: 18px;
  transition: opacity .2s linear;
  cursor: url('../../../images/pointer.svg'), pointer;
}

.footer__link:hover {
  opacity: .8;
}

@media (max-width: 425px) {
.footer__link {
  font-size: 24px;
  line-height: 24px;;
}
}
