.cover {
  max-width: 1184px;
}

@media (max-width: 1200px) {
  .cover {
    max-width: 1024px;
  }
}

@media (max-width: 1000px) {
  .cover {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .cover {
    max-width: 320px;
  }
}
