.page__lead {
  margin: 56px auto 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__lead {
    margin: 48px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .page__lead {
    margin: 48px auto 0;
  }
}

@media (max-width: 425px) {
  .page__lead {
    margin: 48px auto 0;
  }
}
