.page__places {
  margin: 92px auto 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__places {
    margin: 92px auto 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .page__places {
    margin: 88px auto 0;
  }
}

@media (max-width: 425px) {
  .page__places {
    margin: 64px auto 0;
  }
}
