.page__places {
  margin: 92px auto 0;
}

@media (max-width: 1200px) {
  .page__places {
    margin: 92px auto 0;
  }
}

@media (max-width: 1000px) {
  .page__places {
    margin: 88px auto 0;
  }
}

@media (max-width: 425px) {
  .page__places {
    margin: 64px auto 0;
  }
}
