.page__places {
  margin: 98px auto 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .page__places {
    margin: 92px auto 0;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .page__places {
    margin: 88px auto 0;
  }
}

@media (max-width: 320px) {
  .page__places {
    margin: 64px auto 0;
  }
}
