.place {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(calc(100% - 484px - 40px), 460px) minmax(calc(100% - 460px - 40px), 484px);
  gap: 48px 40px;
}

@media (max-width: 1200px) {
  .place {
    grid-template-columns: minmax(calc(100% - 456px - 32px), 440px) minmax(calc(100% - 440px - 32px), 456px);
    gap: 48px 32px;
  }
}

@media (max-width: 1000px) {
  .place {
    grid-template-columns: minmax(calc(100% - 352px - 28px), 340px) minmax(calc(100% - 340px - 28px), 352px);
    gap: 48px 28px;
  }
}

@media (max-width: 675px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px;
  }
}
