.place {
  width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media (max-width: 425px) {
  .place {
    grid-template-columns: 320px;
    gap: 32px;
  }
}
