.place__paragraph {
  /* Нижний отступ при меньших разрешения будет заметен */
  /* Нужно вынести его отдельно */
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
