.page__photo-grid {
  margin: 92px auto 0;
}

@media (min-width: 425px) and (max-width: 768px) {
  .page__photo-grid {
    margin: 88px auto 0;
  }
}

@media (max-width: 425px) {
  .page__photo-grid {
    margin: 64px auto 0;
  }
}
