.page__cover {
  margin: 92px 48px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__cover {
    margin: 92px 0 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .page__cover{
    margin: 90px 0 0;
  }
}

@media (max-width: 425px) {
  .page__cover {
    margin: 66px 0 0;
  }
}
